body{
    background-color: #c5dfc5;
}




header {
    padding: 2em 0;
}

header * {
    display: inline;
}

nav {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-left: 25em;
    margin-top: 5em;
    padding: 1em;
    width: 70%;
}

nav ul li{
    display: inline;
    margin: 0 3.5em;
}

.articulo img {
    display: inline-block;
    width: 28%
}

.articulo .enlinea{
    display: inline;
}

.articulo div{
    
}
